<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona Edycji</title>
</head>
<body>
<h2 th:text="|Edycja użytkownika ${user.firstName} *{user.lastName}|">Strona Edycji</h2>

<form action="/edit" method="post" th:object="${user}">

    <input type="text" placeholder="Imię" th:field="*{firstName}"/>
    <input type="text" placeholder="Nazwisko" th:field="*{lastName}"/>
    <input type="hidden" th:field="*{id}">
    <input type="submit" value="Edytuj"/>


</form>

</body>
</html>